.title{
    font-family: $head-font;
    font-size: 72px;
    color: $yellow;
    line-height: 72px;

    @media screen and (max-width: 1024px) {
        font-size: 45px;
        line-height: 45px;
    }

    @media screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 30px;
    }

 span{
        color: $light_grey;
    }
}


body{
    font-family: $body-font;
    font-size: 16px;
    line-height: 26px;

    
    @media screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
    }
}

p {
    margin: 0px;
}

h1,h2,h3{
    font-family: $head-font;
}

.title{
    overflow: hidden;
    
     div{
        position: relative;
        bottom: -200px;
        display: inline-block;
        transition: 1s ease-in-out;
    }

    &._inview{
        div{
        bottom: 0px;
        }
    }
 
}