@font-face {
  font-family: "Guardian";
  src: url("../assets/fonts/guardiansanssemibold-webfont.woff") format("woff2"),
    url("../assets/fonts/guardiansanssemibold-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Guardian Sans XCond";
  src: url("../assets/fonts/guardiansanssemibold-webfont.woff") format("woff2"),
    url("../assets/fonts/guardiansanssemibold-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat-regular.ttf") format("woff2"),
    url("../assets/fonts/montserrat-regular.svg") format("woff");
  font-weight: normal;
  font-style: normal;
}
