.modalheader {
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}

.modalheader {
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}

.modal-title .modalheader {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.56px;
}

.closebtnchasis {
  scale: 2.4;
  cursor: pointer;
}
.modal-header {
  border: none;
  padding: 0 0 1rem;
}

.modal-body {
  padding: 0;
}
button.close {
  color: #ffffff;
}
.break {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(55, 55, 55, 1);
  line-height: 0.1em;
  margin: 20px 0 30px;
}

input#inputPhone {
  background: linear-gradient(0deg, #373737, #373737);
  border: 1px solid #616161;
  color: #fff;
  height: 48px;
  border-radius: 0;
}
#inputPhone::placeholder {
  color: #fff;
}

.close {
  font-size: 2rem !important;
  font-weight: 100;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: 1 !important;
}
.close:focus,
.close:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
}

.phoneHelp {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #ededed !important;
}
#sendOtp,
#verifyOtp,
#confirm-signup,
#confirm-vehicle,
#confirm-pay {
  padding: 6px 6px;
  margin-top: 38px;
  height: 48px;
  border: 2px solid var(--neutral-graphite-700, #373737);
  background: var(--neutral-graphite-600, #474747);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-neutral-strong, #ededed);
  text-transform: uppercase;
  width: 100%;
  border-radius: inherit;
}
.redirect-links {
  color: #da291c;
  margin: 0 4px;
}
.continue-with {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.closebtn {
  background: none;
  background: transparent;
}

/* Add this CSS to your Auth.css file or in your styling solution */
// .input-group {
//   position: relative;
// }

// .form-control::after {
//   content: "|"; /* Content of the vertical line */
//   position: absolute;
//   top: 0;
//   right: 5px; /* Adjust the right distance as needed */
//   bottom: 0;
//   color: #888; /* Color of the vertical line */
//   font-size: 18px; /* Adjust the font size as needed */
//   pointer-events: none; /* Prevent interaction with the pseudo-element */
// }

// /* Remove border radius for the input field */
// .form-control {
//   border-radius: 0;
// }

// /* Adjust input field width as needed */
// .form-control {
//   padding-right: 25px; /* Ensure space for the vertical line */
// }

@media screen and (min-width: 769px) {
  .modal-content {
    background: #282828;
    color: #fff;
    border-radius: inherit;
    margin-top: 130px;
    padding: 24px;
  }
}
@media screen and (max-width: 768px) {
  .modal-content {
    width: 100%;
    height: 150vh;
    color: var(--text-neutral-strong, #ededed);
    border-radius: 16px 16px 0px 0px;
    // background: var(--background-strong-neutral-900, #000);
    box-shadow: 0px -4px 40px 0px rgba(218, 41, 28, 0.04);
    border-radius: inherit;
    margin-top: 80px;
    padding: 15px;
    background: linear-gradient(172deg, rgba(0, 0, 0, 0.69) 6.45%, rgba(0, 0, 0, 0.88) 52.72%), url(../assets/Images/Background.png), lightgray -806.861px -14px / 323.213% 147.017% no-repeat;
  }
}
