.modalheader {
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}

.modalheader {
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}

.modal-title .modalheader {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.56px;
}

.closebtnchasis {
  scale: 2.4;
  cursor: pointer;
}
.modal-header {
  border: none;
  padding: 0 0 1rem;
}

.modal-body {
  padding: 0;
}
button.close {
  color: #ffffff;
}


input#inputPhone {
  background: linear-gradient(0deg, #373737, #373737);
  border: 1px solid #616161;
  color: #fff;
  height: 48px;
  border-radius: 0;
}


.close {
  font-size: 2rem !important;
  font-weight: 100;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: 1 !important;
}
.close:focus,
.close:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
}

.phoneHelp {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #ededed !important;
}

.authbtn {
  border: 2px solid var(--neutral-graphite-700, #373737);
  background: var(--neutral-graphite-600, #474747);
  padding: 6px 6px;
  margin-top: 38px;
  height: 48px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  border-radius: inherit;
  color: var(--neutral-graphite-800, #282828);
  text-align: center;
}
.redirect-links {
  color: #da291c;
  margin: 0 4px;
}
.continue-with {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.closebtn {
  background: none;
  background: transparent;
}

.modal-header h3 {
  color: var(--text-neutral-strong, #ededed);
  font-family: Guardian;
}
.phoneHelpcont {
  color: var(--text-neutral-strong, #ededed);
  font-family: Montserrat;
}
.modal-body-auth label {
  font-family: Montserrat;
  color: var(--text-neutral-strong, #ededed);
}
.phoneHelpauth {
  color: var(--text-neutral-strong, #ededed);
  font-family: Montserrat !important;
}


@media screen and (min-width: 769px) {
  .modal-content {
    background: #282828;
    color: #fff;
    border-radius: inherit;
    margin-top: 130px;
    padding: 24px;
  }
  .modal-header h3 {
    font-size: 24px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.56px;
  }
  .phoneHelpcont {
    color: var(--text-neutral-strong, #ededed);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    line-height: 140%;
    margin-top: 7px;
  }
  .modal-body-auth label {
    margin-bottom: 8px;
    font-size: 13px;
  }
  .phoneHelpauth {
    margin-top: 4px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .modal-content {
    width: 100%;
    height: 150vh;
    color: var(--text-neutral-strong, #ededed);
    border-radius: 16px 16px 0px 0px;
    background: var(--background-strong-neutral-900, #000);
    box-shadow: 0px -4px 40px 0px rgba(218, 41, 28, 0.04);
    border-radius: inherit;
    margin-top: 80px;
    padding: 15px;
    background: linear-gradient(
        172deg,
        rgba(0, 0, 0, 0.74) 6.45%,
        rgba(0, 0, 0, 6) 52.72%
      ),
      url(../assets/Images/Background.png),
      lightgray -806.861px -14px / 323.213% 147.017% no-repeat;
  }
  .modal-body-auth label {
    font-family: Montserrat !important;
    font-size: 11px !important;
    margin-bottom: 6px;
    color: var(--text-neutral-strong, #ededed);
  }
  .phoneHelpauth {
    font-size: 11px !important;
  }
  .modal-header h3 {
    font-size: 28px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.56px;
  }
  .phoneHelpcont {
    font-size: 12px;
    font-style: normal;
    line-height: 140%;
    margin-top: 5px;
  }
}


