.veritcalarrow {
  border-bottom: 1.5px solid rgb(255 0 0 / 30%);
  width: 65%;
  transform: rotate(331deg);
  transform-origin: right;
  margin-left: 117px;
  stroke-width: 2px;
  stroke: rgba(223, 59, 59, 0.3);
}

.chasisheader h4 {
  color: var(--text-neutral-strong, #ededed);
  font-family: Guardian Sans XCond;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.56px;
}

.modalheader {
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}
.chasisheader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chasisheader h4 {
  color: var(--text-neutral-strong, #ededed);
  font-family: Guardian Sans XCond;
}
.chasisclosebtn {
  background: #282828;
  border: none;
  scale: 2.4;
}

.closebtnchasis {
  scale: 2.4;
  cursor: pointer;
}
.modal-header {
  border: none;
  padding: 0 0 1rem;
}

.modal-body {
  padding: 0;
}
button.close {
  color: #ffffff;
}
.break {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(55, 55, 55, 1);
  line-height: 0.1em;
  margin: 20px 0 30px;
}

input#inputPhone {
  background: linear-gradient(0deg, #373737, #373737);
  border: 1px solid #616161;
  color: #fff;
  height: 48px;
  border-radius: 0;
}
#inputPhone::placeholder {
  color: #fff;
}

.close {
  font-size: 2rem !important;
  font-weight: 100;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: 1 !important;
}
.close:focus,
.close:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
}
.modal-body {
  label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: #ededed;
  }
}
.phoneHelp {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #ededed !important;
}
.redirect-links {
  color: #da291c;
  margin: 0 4px;
}
.continue-with {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.regd-motorcycles {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  background: #373737;
  height: 96px;
  margin-bottom: 1.5rem;
}

.regd-motorcycles input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff; /* Change color to your preference */
  border-radius: 50%;
}

.regd-motorcycles input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 4.5px;
  top: 8.3px;
  width: 11px;
  height: 11px;
  background-color: #fff; /* Change color to your preference */
  border-radius: 50%;
}
.regd-motorcycles.selected {
  background: linear-gradient(0deg, #403b29, #403b29),
    linear-gradient(0deg, #847543, #847543);
}
.regd-motor-header .modalTitle {
  font-size: 32px;
  line-height: 38px;
}

.motor-num {
  color: #a7a7a7;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

// view chessis number [START]
.back-btn {
  height: 2.7rem;
}
.view-chessis-img {
  width: 100%;
  margin-top: 3rem;
}

.view-chessis-img {
  width: 100%;
  margin: 3rem 0;
}
.sub-body-title {
  font-family: Montserrat;
}
.chesis-view-zoomed {
  background: #df3b3b33;
  width: min-content;
  margin: 3rem 0 0 auto;
  display: flex;
}
#arrowCanvas {
  position: absolute;
  top: 23%;
  left: 35%;
}

// RC Verification [START]
.rc-verify-btns button {
  padding: 8px 10px 8px 10px;
  width: 355px;
  height: 48px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
#rc-skip-verify {
  background: #282828;
  border: 1px solid #616161;
  color: white;
}
#rc-verify-submit {
  background: linear-gradient(0deg, #474747, #474747),
    linear-gradient(0deg, #373737, #373737);
}
.rc-verify-btns {
  justify-content: space-between;
  margin-top: 25rem;
}

.closebtn {
  background: #282828;
  border: none;
  scale: 2.4;
}
.closebtn:hover {
  background: transparent;
}

.closebtnsmotors {
  margin-bottom: 44px;
}

#confirm-vehicle {
  padding-left: 131px;
  padding-right: 143px;
}

.btn-primary {
  margin-top: 24px;
}
.chessis-body-title {
  color: var(--text-neutral-strong, #ededed);
  font-family: Montserrat;
}
@media screen and (min-width: 769px) {
  .vertical-line-mark img {
    display: none;
  }
  .chasisheader h4 {
    font-size: 26px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.56px;
  }
  .chessis-body-title {
    font-size: 15px;
    font-style: normal;
    line-height: 140%;
  }
  .sub-body-title {
    font-size: 12px;
    line-height: 20px;
    color: #a7a7a7;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 768px) {
  .chessis-body-title {
    font-size: 13px;
  }
  .closebtnchasis {
    scale: 2.2 !important;
    margin-bottom: 5px;
  }
  .chesis-view-zoomed {
    display: none;
  }
  .sub-body-title-bottom-border {
    border-bottom: 1px solid #373737;
  }
  .vertcalLine {
    position: relative;
    width: 10px;
    height: 40%;
    bottom: 25%;
    left: 28%;
    stroke-width: 1px;
  }

  .vertical-line {
    position: absolute;
    top: 0;
    bottom: 30%;
    left: 20%;
    width: 1px;
    transform: translateX(-50%);
    background-color: red;
  }
  .vertical-line-mark {
    position: absolute;
    top: 20%;
    bottom: 60%;
    left: -25%;
    width: 5px;
  }
  .veritcalarrow-bottom {
    border-bottom: 1.5px solid rgb(233, 2, 34);
    width: 200px;
    transform: rotate(270deg);
    stroke-width: 2px;
    stroke: rgba(223, 59, 59, 0.3);
    margin-left: -99px;
    margin-top: 84px;
  }
  .vertical-line-mark img {
    scale: 7;
  }
  .veritcalarrow {
    display: none;
  }
  .chasisheader h4 {
    font-size: 20px !important;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.56px;
  }
  .sub-body-title {
    font-size: 11.5px;
    line-height: 20px;
    color: #a7a7a7;
    letter-spacing: 0.5px;
  }
}
