.menu-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 21px;
}
.logosvg {
  fill: red;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-body-tertiary {
  background: #181818 !important;
  height: 80px;
  z-index: 10000000;
  position: fixed;
  width: 100%;
}

.dropdown-toggle::after {
  display: none;
}
.navbar {
  z-index: 1000000;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  display: contents;
}
.iconssocial {
  color: #ededed;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
}

@media screen and (min-width: 769px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    color: var(--neutral-text, #ededed);
    font-family: Montserrat;
    font-size: 12.5px;
  }
  .nav-icons {
    margin-left: 40px;
  }
  .navbar .nav-header .logoimg {
    margin-left: 30px;
  }
  .navbar-expand-lg .navbar-nav {
    margin-left: 130px;
  }
  .menu-btn img {
    display: none;
  }

  .nav-icons img {
    margin-left: 30px;
  }
  .nav-icons .india-text {
    display: none;
  }
  .indiaimg img {
    width: 28px;
    height: 20px;
  }
  .nav-header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .india-text-en span {
    color: white;
    margin-left: 20px;
  }
  .iconssocial img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar .nav-header .logoimg {
    scale: 0.8;
    margin-left: 10px;
  }
  .navbar .nav-header .menumimg {
    scale: 1.44;
    margin-left: 22px;
    fill: var(--neutral-graphite-700, #373737);
  }
  .nav-icons .icons img {
    scale: 0.85;
    margin-left: 15px;
  }

  .iconssocial img {
    scale: 1.44 !important;
    margin-left: 8px;
    margin-right: 8px;
  }
  .indiaimg img {
    display: none;
  }
  .india-text {
    color: var(--text-neutral-strong, #ededed);
    font-family: Montserrat;
    margin-left: 20px;
    margin-top: 8px;
    scale: 1;
  }
  .india-text-en {
    display: none;
  }
}
