.motorDeatailbtn {
  padding: 6px 6px;
  margin-top: 38px;
  height: 48px;
  border: 2px solid var(--neutral-graphite-700, #373737);
  background: var(--neutral-graphite-600, #474747);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-neutral-strong, #ededed);
  text-transform: uppercase;
  width: 100%;
  border-radius: inherit;
}
.modal-header {
  border: none;
  padding: 0 0 1rem;
}

.modalheader {
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}
.motorcycle-details::placeholder {
  color: var(--neutral-graphite-400, #616161);

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.break span {
  background: #282828;
  padding: 0 10px;
  color: #ffffff66;
  font-size: 14px;
}
.pc-details,
.motor-reg-no,
#chassis-no,
#km-reading,
#vehicle-regd-num {
  background: linear-gradient(0deg, #373737, #373737);
  border: 1px solid #616161;
  color: #fff;
  height: 48px;
  border-radius: 0;
}
@media screen and (max-width: 768px) {
  .modal-title {
    font-size: 20px !important;
  }
  .motorDeatailbtn {
    margin-top: 120px;
  }
}
