



.modalheader {
    font-family: Guardian Sans XCond;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  

  .justify-content-center {
    justify-content: center!important;
    width: 100%;
}



