.modal-header {
  border: none;
  padding: 0 0 1rem;
}

.regd-motor-header {
  display: flex;
}

.regd-title {
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  color: #a7a7a7;
  margin-top: -10px;
  margin-bottom: 22px;
}

.modalheader {
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}

#red:checked .regd-motorcycles {
  background-color: red;
}

.modal-titles {
  color: var(--White, #ededed);
  font-family: Guardian Sans XCond;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.8px;
}

.motor-num {
  color: #a7a7a7;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.modal-body label {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #ededed;
}

.phoneHelp {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #ededed !important;
}

#tnc-submit,
.regd-motorcycle-submit {
  color: #ededed;
  text-transform: none;
  font-size: 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 6px 12px 6px 12px;
  margin-top: 1rem;
  height: 56px;
  border: 1px solid var(--primary-red-500, #da291c);
  background: var(--primary-red-800, #57100b);
  border-radius: 0;
}

.regd-motorcycles {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  height: 96px;
  margin-bottom: 1.5rem;
}

/* Hide the default radio buttons */
.regd-motorcycles input[type=radio] {
  display: none;
}

/* Show a custom indicator when the radio button is checked */
.regd-motorcycles input[type=radio] + label {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  margin: 1rem 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.regd-motorcycles input[type=radio] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff; /* Change color to your preference */
  border-radius: 50%;
}

.closebtnchasisreg {
  margin-bottom: 15px !important;
  scale: 2.4;
}

.verifybtn {
  border: 1px solid var(--primary-red-500, #da291c) !important;
  background: var(--primary-red-800, #57100b) !important;
  padding: 6px 6px;
  margin-top: 38px;
  height: 48px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-neutral-strong, #ededed);
  text-transform: uppercase;
  width: 100%;
  border-radius: inherit;
}

@media screen and (min-width: 769px) {
  .modal-titles {
    font-size: 30px;
  }
  .regd-title {
    font-size: 14px;
  }
  .regd-motorcycles {
    background: #373737;
  }
}
@media screen and (max-width: 768px) {
  .modal-content #registerModal {
    width: 100%;
    color: var(--text-neutral-strong, #ededed) !important;
    border-radius: inherit !important;
    background: linear-gradient(172deg, rgba(0, 0, 0, 0.32) 6.45%, rgba(0, 0, 0, 0.88) 52.72%) !important;
  }
  .modal-titles {
    font-size: 21px;
  }
  .regd-motorcycles img {
    width: 50%;
  }
  .regd-motorcycles .himalayan-bike {
    width: 45% !important;
  }
  .regd-title {
    font-size: 13px;
  }
  .regd-motorcycles {
    border: 1px solid var(--neutral-graphite-700, #373737);
  }
}/*# sourceMappingURL=RegisterMotor.css.map */