.modal-header {
  border: none;
  padding: 0 0 1rem;
}

.modalheader {
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}

.modalheader {
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}
.chasisheader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chasisclosebtn {
  background: #282828;
  border: none;
  scale: 2.4;
}

.modal-title .modalheader {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
  font-family: Guardian Sans XCond;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.56px;
}
.verifybtn {
  border: 1px solid var(--primary-red-500, #da291c) !important;
  background: var(--primary-red-800, #57100b) !important;
  padding: 6px 6px;
  margin-top: 38px;
  height: 48px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-neutral-strong, #ededed);
  text-transform: uppercase;
  width: 100%;
  border-radius: inherit;
}
.closebtnchasis {
  scale: 2.4;
  cursor: pointer;
}
.modal-header {
  border: none;
  padding: 0 0 1rem;
}

.modal-body {
  padding: 0;
}
button.close {
  color: #ffffff;
}
.break {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(55, 55, 55, 1);
  line-height: 0.1em;
  margin: 20px 0 30px;
}

input#inputPhone {
  background: linear-gradient(0deg, #373737, #373737);
  border: 1px solid #616161;
  color: #fff;
  height: 48px;
  border-radius: 0;
}
#inputPhone::placeholder {
  color: #fff;
}

.close {
  font-size: 2rem !important;
  font-weight: 100;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: 1 !important;
}
.close:focus,
.close:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
}

.phoneHelp {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #ededed !important;
}
#sendOtp,
#verifyOtp,
#confirm-signup,
#confirm-vehicle,
#confirm-pay {
  padding: 6px 6px;
  margin-top: 38px;
  height: 48px;
  border: 2px solid var(--neutral-graphite-700, #373737);
  background: var(--neutral-graphite-600, #474747);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-neutral-strong, #ededed);
  text-transform: uppercase;
  width: 100%;
  border-radius: inherit;
}
.redirect-links {
  color: #da291c;
  margin: 0 4px;
}
.continue-with {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.login-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 219.5px;
  padding: 8px 10px;
  background: #282828;
  border: 1px solid #616161;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #ededed;
}

.login-btns img {
  margin: 0 5px;
}
.modal-header h3 {
  color: var(--text-neutral-strong, #ededed);
  font-family: Guardian;
}
.phoneHelpcont {
  color: var(--text-neutral-strong, #ededed);
  font-family: Montserrat;
}
.modal-body-auth label {
  font-family: Montserrat;
  color: var(--text-neutral-strong, #ededed);
}
.phoneHelpauth {
  color: var(--text-neutral-strong, #ededed);
  font-family: Montserrat !important;
}

@media screen and (min-width: 769px) {
  .modal-header h3 {
    font-size: 24px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.56px;
  }
  .phoneHelpcont {
    color: var(--text-neutral-strong, #ededed);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    line-height: 140%;
    margin-top: 5px;
  }
  .modal-body-auth label {
    margin-bottom: 6px;
    font-size: 13px;
  }
  .phoneHelpauth {
    margin-top: 2px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .modal-body-auth label {
    font-family: Montserrat !important;
    font-size: 11px !important;
    margin-bottom: 6px;
    color: var(--text-neutral-strong, #ededed);
  }
  .phoneHelpauth {
    font-size: 11px !important;
  }
  .modal-header h3 {
    font-size: 28px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.56px;
  }
  .phoneHelpcont {
    font-size: 12px;
    font-style: normal;
    line-height: 140%;
    margin-top: 5px;
  }
}
